body {
    text-align: center;
}

head {
    text-align: center;

}

h1 {
    font-size: 40px;
}

.div h1 {
    font-size: 40px;
    color: red;
}

main {
    text-align: center;
}

div {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    border: 10px solid brown;
    width: 600px;
    background: yellow;
}

p {
    text-align: center;
}
